<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @game.map %>
</p>


  <span id="join_id">
  <%= @game.join_id %>
  </span>

</br>
<canvas id="hexmap" width="660" height="624"></canvas>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
