<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @game.map %>
</p>


  <span id="join_id">
  <%= @game.join_id %>
  </span>

<input type="hidden" id="user_id" value= "<%= @uuid %>">

</br>
<div id = 'hexmap'></div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
